body {
    height: 100%;
    margin: 0;
    background-image: url('/static/map.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.hidden {
  display: none;
}

.show {
  display: block;
  margin: -20; /* center the container */
  padding: 80px; /* add some padding to the container */
  width: 100%; /* set the width of the container */

}

.white {
  width: 200%; /* set the width of the container */

  background-color: white;
  color: black;
}

.btn {
  margin-right: 10px;
}