.container {
    background-image: url('your-image-url.jpg');
    background-size: cover;
    background-position: center;
  }

.hidden {
  display: none;
}

.show {
  display: block;
}

.white {
  background-color: white;
  color: black;
}